

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);

body {
  font-size: em;
  background-image: url("Images/BeanBackground.jpg");
}

h1 {
font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
font-size: 1.5em;
}
