

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);

body {
  font-size: em;
  font-family: "Droid Serif", serif;
  color:#b35900;
  text-shadow: .8px .8px #000000;
  background-image: url("Images/BeanBackground.jpg");
  margin-left: 10%;
  margin-top: 0%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding: 1%;
  width: 70%;
}



a {
  text-decoration: none;
  color: #000000;
}



p {
  overflow: auto;
}

.pmajor {
  font-size: 2em;
}



img {
  float: left;
  padding-right: 5px;
}

h1 {
font-size: 5.5em;
text-shadow: 1.8px 1.8px #000000;
text-align: center;




}

h2 {
  font-size: 3.5em;
  text-shadow: 1.5px 1.5px #000000;
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
font-size: 2em;
text-shadow: 1.3px 1.3px #000000;
clear: both;
margin-top: 15px;
margin-bottom: 15px;
}



#container {
  min-width: 400px;
}

.headerrow {
  overflow: auto;
  min-width: 700px;
}

.headercolumn1 {
  width: 30%;
  float: left;

}

.headercolumn2 {
  width: 50%;
  float: left;
  margin-left:5%;
  padding: 20px;
}

.row {
  margin-bottom: 10px;
  overflow: auto;
}

.column1 {
  width: 35%;
  float: left;
  font-size: .8em;
  text-shadow: .1px .1px #000000;
}

.column2 {
  width: 40%;
  margin-left: 5%;
  float: left;
}

.column3 {
  width: 30%;
  margin-left: 5%;
  float: left;
  font-size: 1.5em;
}

#navlist {
  list-style: none;
  font-size: 1.5em;
  background-image: url("Images/button.jpg");
  min-width: 600px;

}

#navlist li {
  display: inline;
  padding-right: 40px;
}
