@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Jacques+Francois);
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8em;
  background-color: #e7fee7;
  margin-bottom: 5%;
  padding: 1px;
  color:#000000;
}


h1 {
font-size: 3.5em;
font-family: "Jacques Francois", serif;
color:#004d00;
text-align: left;
margin-left: 3%;
text-shadow: 1.1px 1.1px #000000;
}

h2 {
font-size: 1.8em;
text-align: left;
margin-left: 3%;
margin-bottom: 0%;
margin-top: 0%;
color:#004d00;
}

h3 {
font-size: 2em;
text-align: left;
margin-left: 3%;
color:#000000;
}

h4 {
  font-size: 1.5em;
  text-align: left;
  margin-left: 5%;
  color:#000000;
  margin-top: 2.5%;
}


.nav {
   margin-left: 1.1%;
}

.preface {
  margin-left: 5%;
}

.column1 {
  float: left;
}

.column2 {
  margin-left:10%;
  float: left;
}

.column3 {
  margin-left: 0%;
  float: left;
}
